@page
@model WebApp___SistemaProveeduria.Pages.InventoryModel
@{
}
<h1 class="mt-5">Registro</h1>
<form>
    <fieldset>
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
    <button class="btn btn-primary" type="button" id="button-addon2">Button</button>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Producto</th>
            <th scope="col">Precio</th>
            <th scope="col">Unidades</th>
            <th scope="col">Fecha de registro</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-active">
            <th scope="row">Producto 1</th>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
        </tr>
        <tr>
                    <th scope="row">Producto 2</th>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
        </tr>
        <tr class="table-primary">
                    <th scope="row">Producto 3</th>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
        </tr>
                <tr class="table-active">
                    <th scope="row">Producto 4</th>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                </tr>
                <tr>
                    <th scope="row">Producto 5</th>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                </tr>
                <tr class="table-primary">
                    <th scope="row">Producto 6</th>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                </tr>
            </tbody>
        </table>
        <div>
            <ul class="pagination pagination-sm">
                <li class="page-item disabled">
                    <a class="page-link" href="#">&laquo;</a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">&raquo;</a>
                </li>
            </ul>
        </div>
        <div class="form-group">
            <label for="exampleInputProduct" class="form-label mt-4">Producto</label>
            <input type="text" class="form-control" id="exampleInputProduct">
        </div>
        <div class="form-group">
            <label for="exampleInputUnid" class="form-label mt-4">Unidades del producto</label>
            <input type="text" class="form-control" id="exampleInputUnid">
        </div>
        <div class="form-group">
            <label for="exampleInputPrice" class="form-label mt-4">Precio por unidad</label>
            <input type="text" class="form-control" id="exampleInputPrice">
        </div>
        <p></p>
        <button type="button" class="btn btn-primary">Anterior</button>
        <button type="button" class="btn btn-secondary">Actualizar</button>
    </fieldset>
</form>
