@page
@model WebApp___SistemaProveeduria.Pages.OffersModel
@{
}
<h1 class="mt-5">Ofertas</h1>
<form>
    <fieldset>
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
    <button class="btn btn-primary" type="button" id="button-addon2">Buscar</button>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Nombre de oferente</th>
            <th scope="col">Fecha de entrega</th>
            <th scope="col">Costo total</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-active">
            <th scope="row">Oferta 1</th>
            <td>Column content</td>
            <td>Column content</td>
        </tr>
        <tr>
            <th scope="row">Oferta 2</th>
            <td>Column content</td>
            <td>Column content</td>
        </tr>
        <tr class="table-primary">
            <th scope="row">Oferta 3</th>
            <td>Column content</td>
            <td>Column content</td>
        </tr>
                <tr class="table-active">
                    <th scope="row">Oferta 4</th>
                    <td>Column content</td>
                    <td>Column content</td>
                </tr>
                <tr>
                    <th scope="row">Oferta 5</th>
                    <td>Column content</td>
                    <td>Column content</td>
                </tr>
                <tr class="table-primary">
                    <th scope="row">Oferta 6</th>
                    <td>Column content</td>
                    <td>Column content</td>
                </tr>
            </tbody>
        </table>
        <div>
            <ul class="pagination pagination-sm">
                <li class="page-item disabled">
                    <a class="page-link" href="#">&laquo;</a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </fieldset>
</form>
