@page
@model WebApp___SistemaProveeduria.Pages.OfferDetailsModel
@{
}
<br></br>
<h1>Detalle de la oferta</h1>

<div class="centrarTodo text-center">
    <form id="formUser">
        <fieldset>
            <div class="form-group">
                <label for="exampleInputEmail1" class="form-label mt-4">Nombre de oferente</label>
                <input type="txt" class="form-control" id="txtPrecio" placeholder="" />
            </div>
            <div class="form-group">
                <label for="txtPassword" class="form-label mt-4">Fecha de entrega de los productos</label>
                <input type="date" class="form-control" id="txtFecha" placeholder="" />
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1" class="form-label mt-4">Precio total de la oferta</label>
                <input type="number" class="form-control" id="txtPrecio" placeholder="" />
            </div>
        </fieldset>
    </form>
    <div class="form-group">
        <label for="exampleTextarea" class="form-label mt-4">Productos brindados</label>
        <textarea class="form-control" id="exampleTextarea" rows="3" data-dashlane-rid="e68b58e96fa7a35e" data-form-type="other"></textarea>
    </div>
    <br></br>
</div>