@page
@model WebApp___SistemaProveeduria.Pages.PasswordRecoveryModel
@{
}

<script src="~/js/PasswordRecovery.js"></script>

<h1 class="mt-5">Recuperación de contraseña</h1>

<div class="form-group">
    <label for="notification" class="form-label mt-4">Tipo de notificación</label>
    <select class="form-select" id="notification">
        <option>Email</option>
        <option>SMS</option>
    </select>
</div>
<div class="form-group">
    <label for="notificationContact" class="form-label mt-4">Contacto de notificación</label>
    <input type="text" class="form-control" id="notificationContact" placeholder="Digite su número de teléfono o email">
</div>
<p></p>
<button id="btnRecovery" class="source-button btn btn-primary btn-xs" type="button" tabindex="8">Enviar código</button>
<legend id="Recovery"></legend>
<button type="button" id="btnAtras" class="btn btn-warning">Atrás</button>
<p></p>
<div id="divVerificarOtp">
    <input type="text" class="form-control" id="RecoveryCode" placeholder="Escriba el código enviado">
    <input type="text" class="form-control" id="cookie" placeholder="Cookie" hidden>
    <br />
    <button id="btn-Verify" class="source-button btn btn-primary btn-xs" type="button" tabindex="8">Verificar</button>
</div>

