@page
@model WebApp___SistemaProveeduria.Pages.ProductVeificationModel
@{
}
<br></br>
<h1 class="text-center">Verificación de Productos</h1>
<br></br>
<div class="centrarTodo">
    <section class="gridSwitches">
        <div class="switches">
            <fieldset class="form-group">
                <legend class="mt-2">Producto 1</legend>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" data-dashlane-rid="3fa03ec7e89d6648" data-form-type="other">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Activa o Desactiva.</label>
                </div>
            </fieldset>
        </div>
        <div class="switches">
            <fieldset class="form-group">
                <legend class="mt-2">Producto 2</legend>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" data-form-type="other">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Activa o Desactiva.</label>
                </div>
            </fieldset>
        </div>
        <div class="switches">
            <fieldset class="form-group">
                <legend class="mt-2">Producto 3</legend>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" data-form-type="other">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Activa o Desactiva.</label>
                </div>
            </fieldset>
        </div>
        <div class="switches">
            <fieldset class="form-group">
                <legend class="mt-2">Producto 4</legend>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" data-form-type="other">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Activa o Desactiva.</label>
                </div>
            </fieldset>
        </div>
        <div class="switches">
            <fieldset class="form-group">
                <legend class="mt-2">Producto 5</legend>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" data-form-type="other">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Activa o Desactiva.</label>
                </div>
            </fieldset>
        </div>
        <div class="switches">
            <fieldset class="form-group">
                <legend class="mt-2">Producto 6</legend>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" data-form-type="other">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Activa o Desactiva.</label>
                </div>
            </fieldset>
        </div>
        <div class="switches">
            <fieldset class="form-group">
                <legend class="mt-2">Producto 7</legend>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" data-form-type="other">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Activa o Desactiva.</label>
                </div>
            </fieldset>
        </div>
        <div class="switches">
            <fieldset class="form-group">
                <legend class="mt-2">Producto 8</legend>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" data-form-type="other">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Activa o Desactiva.</label>
                </div>
            </fieldset>
        </div>
    </section>
    <br></br>
    <div class="form-group">
        <label for="exampleTextarea" class="form-label mt-4">Comentarios</label>
        <textarea class="form-control" id="exampleTextarea" rows="3" data-dashlane-rid="e68b58e96fa7a35e" data-form-type="other"></textarea>
    </div>
    <br></br>
    <button type="submit" class="btn btn-primary bg-primario boton" data-form-type="action">Modificar Productos</button>
    <br></br>
</div>