@page
@model WebApp___SistemaProveeduria.Pages.RecoveryCodeModel
@{
}
<h1 class="mt-5">Recuperación de contraseña</h1>
<div class="form-group">
    <label for="notificationRecoveryCode" class="form-label mt-4">Código de recuperación</label>
    <input type="tel" class="form-control" id="notificationRecoveryCode" placeholder="Escriba código">
</div>
<p></p>
<button id="btn-RecoveryCode" class="source-button btn btn-primary btn-xs" type="button" tabindex="8">Siguiente</button>
<legend id="RecoveryCode"></legend>