@page
@model WebApp___SistemaProveeduria.Pages.ReportsModel
@{
}
<script src="~/js/reports.js"></script>
<br></br>
<h1 class="text-center">Reportes</h1>
<br></br>
<div class="row">
    <table id="tblReports" class="display" style="width:100%">
        <thead>
            <th>Info_1</th>
            <th>Info_2</th>
            <th>Info_3</th>
            <th>Info_4</th>
        </thead>
    </table>
</div>