@page
@model WebApp___SistemaProveeduria.Pages.TenderDetailsModel
@{
}

<h1 class="mt-5">Detalles de la licitación</h1>
<form>
    <fieldset>
        <div class="form-group">
            <label for="inputTypeTender" class="form-label mt-6">Institución:</label>
            <input type="text" class="form-control" id="inputTypeTender" placeholder="">
        </div>
        <p></p>
        <div class="form-group">
            <label for="inputInstitution" class="form-label mt-6">Tipo de licitación:</label>
            <input type="text" class="form-control" id="inputInstitution" placeholder="">
        </div>

        <div class="form-group">
            <label for="inputClosingDate" class="form-label mt-4">Fecha de cierre de oferta:</label>
            <input type="date" class="form-control" id="inputClosingDate">
        </div>
        <p></p>
        <div class="form-group">
            <label for="inputClosingLicitacion" class="form-label mt-6">Fecha de cierre de la licitación:</label>
            <input type="date" class="form-control" id="inputClosingLicitacion">
        </div>

        <div class="form-group">
            <label for="inputPublicationDate" class="form-label mt-4">Fecha de publicacion:</label>
            <input type="date" class="form-control" id="inputPublicationDate">
        </div>
<p></p>
        <div class="form-group">
            <label for="inputStateTender" class="form-label mt-6">Estado de la licitación:</label>
            <input type="text" class="form-control" id="inputStateTender" placeholder="">
        </div>
<p></p>
        <div class="form-group">
            <label for="inputDeliveryLocation" class="form-label mt-6">Lugar de entrega:</label>
            <input type="text" class="form-control" id="inputDeliveryLocation" placeholder="Escriba el lugar de entrega">
        </div>
        <p></p>
    </fieldset>
</form>