@page
@model WebApp___SistemaProveeduria.Pages.TendersModel
@{
}
<h1 class="mt-5">Listado de operaciones</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Institución contratante</th>
            <th scope="col">Cierre de ventana de oferta</th>
            <th scope="col">Cierre de la licitación</th>
            <th scope="col">Estado de la licitación</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-active">
            <th scope="row">Escuela 1</th>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
        </tr>
        <tr>
            <th scope="row"> Escuela 2</th>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
        </tr>
        <tr class="table-primary">
            <th scope="row">Escuela 3</th>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
        </tr>
        <tr class="table-secondary">
            <th scope="row">Escuela 4</th>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
        </tr>
        <tr class="table-success">
            <th scope="row">Escuela 5</th>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
        </tr>
        <tr class="table-danger">
            <th scope="row">Escuela 6</th>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
        </tr>
        <tr class="table-warning">
            <th scope="row">Escuela 7</th>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
        </tr>
    </tbody>
</table>