@page
@model WebApp___SistemaProveeduria.Pages.UserPermissionsModel
@{
}
<br></br>
<h1 class="text-center">Permisos de Usuario</h1>
<br></br>
<div class="centrarTodo">
    
    <div class="input-group mb-3 gap-2">
        <h3>Buscar Usuario </h3>
        <input type="text" class="form-control" placeholder="Usuario" aria-describedby="button-addon2" data-kwimpalastatus="alive" data-kwimpalaid="1680343359100-4" data-form-type="username">
        <button class="btn btn-primary bg-primario boton " type="button" id="btnSearch" data-form-type="action,login" data-kwimpalastatus="dead">Buscar</button>
    </div>

    <section class="gridSwitches">
        <div class="switches">
            <fieldset class="form-group">
                <legend class="mt-2">Permiso 1</legend>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" data-form-type="other">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Activa o Desactiva.</label>
                </div>
            </fieldset>
        </div>
        <div class="switches">
            <fieldset class="form-group">
                <legend class="mt-2">Permiso 2</legend>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" data-form-type="other">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Activa o Desactiva.</label>
                </div>
            </fieldset>
        </div>
        <div class="switches">
            <fieldset class="form-group">
                <legend class="mt-2">Permiso 3</legend>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" data-form-type="other">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Activa o Desactiva.</label>
                </div>
            </fieldset>
        </div>
        <div class="switches">
            <fieldset class="form-group">
                <legend class="mt-2">Permiso 4</legend>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" data-form-type="other">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Activa o Desactiva.</label>
                </div>
            </fieldset>
        </div>
        <div class="switches">
            <fieldset class="form-group">
                <legend class="mt-2">Permiso 5</legend>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" data-form-type="other">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Activa o Desactiva.</label>
                </div>
            </fieldset>
        </div>
        <div class="switches">
            <fieldset class="form-group">
                <legend class="mt-2">Permiso 6</legend>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" data-form-type="other">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Activa o Desactiva.</label>
                </div>
            </fieldset>
        </div>
        <div class="switches">
            <fieldset class="form-group">
                <legend class="mt-2">Permiso 7</legend>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" data-form-type="other">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Activa o Desactiva.</label>
                </div>
            </fieldset>
        </div>
        <div class="switches">
            <fieldset class="form-group">
                <legend class="mt-2">Permiso 8</legend>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" data-form-type="other">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Activa o Desactiva.</label>
                </div>
            </fieldset>
        </div>
    </section>
    <br></br>
    <button type="submit" class="btn btn-primary bg-primario boton" data-form-type="action">Modificar Permisos</button>
    <br></br>
</div>

